<% content_for :title do %>About<% end %>
<h3>About Noel Munyuma</h3>
<p>She was born in Nairobi, Kenya. She left Kenya for USA, excelled at Columbia University. During her masters degree, she came with a fashion organization which now sells trendy clothes for both men and women. Due to her generous heart, she also came up with an organization that advocates for both girl and boy education in Africa. She is in contention to win the Nobel prize due to her efforts to improve the status of education in Africa.</p>
